.sidebar {
    top: 64px;
    left: 0;
}

.sidebar__nav-item > .icon {
    height: 40px;
}

.sidebar-icon {
    display: flex;
    justify-content: center;
    width: 64px;
}

.nav-articles {
    margin-top: -6px;
}
